<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Boilerplate" %> | <%= config[:sitename] %></title>
    <meta name="description" content="<%= current_page.data.description || "Boilerplate" %>" />

    <meta property="og:title" content="<%= current_page.data.title || "Boilerplate" %>">
    <meta property="og:description" content="<%= current_page.data.description || "Boilerplate" %>" />
    <meta property="og:url" content="<%= config[:host] %>">
    <meta property="og:locale" content="tr_TR" />
    <meta property="og:locale:alternate" content="en_GB" />
    <meta property="og:site_name" content="<%= config[:sitename] %>" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%= config[:host] %>/statics/gfx/share.jpg" />

    <link rel="apple-touch-icon" sizes="180x180" href="/statics/gfx/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/statics/gfx/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/statics/gfx/icons/favicon-16x16.png">
    <%= stylesheet_link_tag "layout" %>
</head>